@model List<CourseWorkProject.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}

<div class="list-dash">
    <div id="std-container" class="row">
        <ul id="std-list" class="col-4 col-lg-4 col-md-4 col-sm-3 col-md-offset-3">
            @foreach (var std in Model)
            {
                <li data-id="@std.id" class="std-id"><span>@std.Profile.Name</span></li>
            }
        </ul>

        <div id="std-dash" class="col-7 col-lg-6 col-md-7 col-sm-7 col-md-offset-3">
            <canvas id="myChart" height="100"></canvas>
        </div>
    </div>
</div>

@section scripts{
       <script>
           $(document).ready(function () {
               var ctx = document.getElementById('myChart').getContext('2d');
                 var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'bar',

                        // The data for our dataset
                        data: {
                            labels: [],
                            datasets: [{
                                label: "Number of messages ",                                
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: [],
                                borderWidth: 1
                            }]
                        },

                        // Configuration options go here
                        options: {
                             responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
            }
                    });
               ctx.height = 500;
               
               $('.std-id').on('click', function () {
                       var id = $(this).attr("data-id");
                       $.ajax({
                           type: 'GET',
                           url: '/Staff/StudentDashboard/GetData',
                           data: { id },
                           success: function (result) {
                               console.log(result);
                               debugger
                               var dates = result.MessageCreateDate;
                               var count = result.MessageCount;
                             
                                chart.data.labels = dates;
                                chart.data.datasets[0].data = count;
                                chart.update();
                               ctx.height = 500;
                             
                           },
                           error: function () {
                               console.log('fail');
                           }
                       })
                   })
           })
                   
           
       </script>
    }

